%h1 Add New Workout
%form.new-workout
  %h2 Name
  %input.form-control(type="text" ng-model="workout.name")

  %h2 Main Muscle Group
  %select.form-control(ng-model="workout.mainMuscleGroup" ng-options="m for m in muscleGroups")

  %h2 Sub Muscle Groups
  .sub-muscle-groups.btn-group(ng-repeat="muscleGroup in muscleGroups")
    %button.btn(ng-model="workout.subMuscleGroups[muscleGroup]" btn-checkbox) {{muscleGroup}}

  %h2 Type
  %select.form-control(ng-model="workout.type" ng-options="t for t in types")

  %h2 Equipments
  .equipments.btn-group(ng-repeat="equipment in equipments")
    %button.btn(ng-model="workout.equipments[equipment]" btn-checkbox) {{equipment}}

  %h2 Difficulty
  %select.form-control(ng-model="workout.difficulty" ng-options="d for d in difficulties")

  %h2 Description
  %textarea.form-control(ng-model="workout.description")

  %h2 Youtube Id
  %input.form-control(type="text" ng-model="workout.youtube")

  %h2 Save
  %button.btn.btn-primary.btn-block(ng-click="save()") SAVE
